<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Submission Success</title>
</head>

<body style="background-color: #ffffff; font-size: 16px;">
    <center>

        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
            <tr>
                <td align="center" bgcolor="#ffffff" style="padding:30px">
                    <p style="text-align:left">Hello,<br><br> Thanks for filling in Effizient. Here's what was received.
                    </p>
                    <p style="text-align:left">Email: {{email}}. </p>
                    <p style="text-align:left">Full Name: {{full_name}}. </p>
                    <p style="text-align:left">Age: {{Age}}. </p>
                    <p style="text-align:left">Highest Level of Education: {{education}}. </p>
                    <p style="text-align:left">Institute where you completed your highest: {{institute_of_highest}}. </p>
                    <p style="text-align:left">What did you study: {{course_of_study}}. </p>
                    <p style="text-align:left">Do you have any relevant work experience?: {{form.work_experience}}. </p>
                    <p style="text-align:left">What Institute did you get admintted to in Canada?: {{institute_canada}}. </p>
                    <p style="text-align:left">What is your program of study in Canada?: {{study_in_canada}}. </p>
                    <p style="text-align:left">What country are you applying from?: {{country_applying_from}}. </p>
                    <p style="text-align:left">What are your future goals?: {{future_goals}}. </p>
                    <p style="text-align:left">English Scores - Listening: {{english_scores_listening}}. </p>
                    <p style="text-align:left">English Scores - Reading: {{english_scores_reading}}. </p>
                    <p style="text-align:left">English Scores - Speaking: {{english_scores_speaking}}. </p>
                    <p style="text-align:left">English Scores - Writing: {{english_scores_writing}}. </p>
                    <p style="text-align:left">Did you pay your first year tuition?: {{first_year_tuition}}. </p>
                    <p style="text-align:left">How much tuition fee did you pay?: {{tuition_fee}}. </p>
                    <p style="text-align:left">Did you do a GIC?: {{GIC}}. </p>

                    <p style="text-align:left">How much did you pay towards GIC?: {{cost_of_gic}}. </p>

                    <p style="text-align:left">
                        Sincerely,<br>The Website Team
                        </p>


                </td>
            </tr>
            
           
    
        </table>
    </center>
</body>

</html>