{% extends 'core/base.html' %}
{% load static %}

{% block main %}



<main id="main" class="main">



    <section class="section">
        <div class="row">
            <div class="col-lg-8">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customized SOP Generator</h5>
                        <small> Fill this questionnaire for the student. After submitting, you will receive an email at
                            the email address
                            that you have provided with a Statement of Purpose customized for you. You can use and
                            modify that as per your needs.
                        </small> </br>
                        <small>
                            If you would like to get it edited, reviewed, or drafted by our experts, you can get in
                            touch with us:
                            <a
                                href="https://effizient-immigration-inc.square.site/s/shop">https://effizient-immigration-inc.square.site/s/shop</a>
                        </small>
                        <p></p>

                        <!-- Vertical Form -->
                        <form class="row g-3" method="POST">
                            {% csrf_token %}
                            {{form.errors}}

                            <div class="col-12">
                                <label for="inputEmail4" class="form-label">Email</label>
                                {{form.email}}
                            </div>

                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Full Name</label>
                                {{form.full_name}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Age</label>
                                {{form.age}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Highest Level of Education</label>
                                {{form.education}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Institute where you completed your highest
                                    level of education</label>
                                {{form.institute_of_highest}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">What did you study</label>
                                {{form.course_of_study}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Do you have any relevant work
                                    experience?</label>
                                <p> Write None if no work experience. Provide the following details if yes:
                                    <ol>
                                        <li> Job Title </li>
                                        <li> Company Name </li>
                                        <li> Job duties </li>
                                    </ol>
                                    Sample Answer: I worked as a Sales Manager at Effizient Immigration Inc from Jan
                                    2022 till
                                    Feb 2023. In this role, I managed sales operations, reaching out to leads, lead the
                                    outreach
                                    program, ensure meeting monthly targets
                                </p>
                                <br>
                                {{form.work_experience}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">What Institute did you get addmitted to in
                                    Canada?</label>
                                {{form.institute_canada}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">What is your program of study in
                                    Canada?</label>
                                {{form.study_in_canada}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">What country are you applying from?</label>
                                {{form.country_applying_from}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">What are your future goals?</label>
                                {{form.future_goals}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">English Scores - Listening</label>
                                {{form.english_scores_listening}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">English Scores - Reading</label>
                                {{form.english_scores_reading}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">English Scores - Speaking</label>
                                {{form.english_scores_speaking}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">English Scores - Writing</label>
                                {{form.english_scores_writing}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Did you pay your first year tuition?</label>
                                {{form.first_year_tuition}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">How much tuition fee did you pay?</label>
                                {{form.tuition_fee}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">Did you do a GIC?</label>
                                {{form.GIC}}
                            </div>
                            <div class="col-12">
                                <label for="inputNanme4" class="form-label">How much did you pay towards GIC?</label>
                                {{form.cost_of_gic}}
                            </div>


                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-secondary">Clear form</button>
                            </div>
                        </form><!-- Vertical Form -->

                    </div>
                </div>
            </div>



        </div>
    </section>

</main><!-- End #main -->


{% endblock main %}